*{
    margin: 0;
    padding: 0;

}

html{
    background-color: blueviolet;
    text-align: center;
}

#nameDiv{
    margin-top: 50px;
}
.input{
    font-size: 25px;
    color: #fefffe;
    font-weight: 700;
    margin: 20px;
}
#entry{
    width: 150px;
    height: 40px;
    font-size: 23px;
    background-color: cornflowerblue;
    color: whitesmoke;
    box-shadow: 0 2px 2px 0 rgba(0,0 , 0, 0.5);

}
table{
    border-collapse: collapse;
    width: 50%;
    margin: 50px auto;
    background-color: rgb(255, 187, 252);
}
table, th, td{
    border: 2px solid black;
    padding: 5px;
}
th{
    font-size: 30px;
    font-weight: 700;
    color: rgb(17, 17, 29);
}
th{
    font-size: 25px;
    font-weight: 400;
    color: rgb(37, 37, 78);
}